.button:hover {
    -fx-background-color: #0e5c2f;
}

.button, .label-total {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-background-color: #217346;
    -fx-background-radius: 20;
}

